<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833005694619-trumppvfcvqifopimkaempiddbmepv94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833005694619-trumppvfcvqifopimkaempiddbmepv94</string>
	<key>API_KEY</key>
	<string>AIzaSyAwC_gdyB2MEmxbvXlDyrJ9TimT80lxXSk</string>
	<key>GCM_SENDER_ID</key>
	<string>833005694619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.welly.paywall.platform</string>
	<key>PROJECT_ID</key>
	<string>admin-wellysport</string>
	<key>STORAGE_BUCKET</key>
	<string>admin-wellysport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833005694619:ios:a1603ba0483fe027f9603e</string>
</dict>
</plist>